.env
venv
.local
.venv
.vscode
.vscode-server/
.vscode-server-insiders/
__pycache__/
.python-version
**.pyc
*.log
varlib/
db_backup/
backup/
temp/
logs
odoo-server.conf
.DS_Store
.idea/
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg
scripts_local/