{
  "version": "2.0.0",
  "tasks": [
    {
      "label": "Update Source Codes and Database",
      "type": "shell",
      "command": "${workspaceFolder}/scripts_local/update_repo_and_db.sh",
      "options": {
        "cwd": "${workspaceFolder}"
      },
      "presentation": {
        "echo": true,
        "reveal": "always",
        "focus": false,
        "panel": "new",
        "showReuseMessage": true,
        "clear": true
      }
    },
    {
      "label": "Update Database only",
      "type": "shell",
      "command": "${workspaceFolder}/scripts_local/update_db.sh",
      "options": {
        "cwd": "${workspaceFolder}"
      },
      "presentation": {
        "echo": true,
        "reveal": "always",
        "focus": false,
        "panel": "new",
        "showReuseMessage": true,
        "clear": true
      }
    },
    {
      "label": "Backup Database",
      "type": "shell",
      "command": "sh",
      "args": [
        "-c",
        "click-odoo-backupdb -c conf/odoo-server.conf ${input:databaseName} ${workspaceFolder}/db_backup/devdb_$(date +'%d_%m_%Y_%H_%M').zip"
      ],
      "options": {
        "cwd": "${workspaceFolder}"
      },
      "presentation": {
        "echo": true,
        "reveal": "always",
        "focus": false,
        "panel": "new",
        "showReuseMessage": false,
        "clear": true
      }
    },
    {
      "label": "Restore Database",
      "type": "shell",
      "command": "click-odoo-restoredb",
      "args": [
        "-c",
        "conf/odoo-server.conf",
        "--force",
        "${input:databaseName}",
        "${input:databaseBackup}"
      ],
      "options": {
        "cwd": "${workspaceFolder}"
      },
      "presentation": {
        "echo": true,
        "reveal": "always",
        "focus": false,
        "panel": "new",
        "showReuseMessage": false,
        "clear": true
      }
    },
    {
      "label": "Run Tests for Addons",
      "type": "shell",
      "command": "${workspaceFolder}/scripts_local/run_tests.sh",
      "args": [
        "${input:dropDatabase}",
        "tests"
      ],
      "group": {
        "kind": "test",
        "isDefault": true
      },
      "presentation": {
        "echo": true,
        "reveal": "always",
        "focus": false,
        "panel": "new",
        "showReuseMessage": true,
        "clear": true
      },
      "options": {
        "cwd": "${workspaceFolder}"
      },
    }
  ],
  "inputs": [
    {
      "id": "dropDatabase",
      "type": "pickString",
      "description": "Drop database before runnig tests",
      "options": [
        "yes",
        "no",
      ],
      "default": "yes"
    },
    {
      "id": "databaseName",
      "type": "promptString",
      "description": "Database Name",
      "default": "devdb"
    },
    {
      "id": "databaseBackup",
      "type": "promptString",
      "description": "Backup file",
      "default": ""
    }
  ]
}